<div ng-controller="mainCtrl" class="main-content">
  <h2>Job Listings</h2>
  <div ng-repeat="job in model.jobs" ng-class="{like: job.like === true, dislike: job.like === false}">
    <li class="job-posts">
      {{ctrl.jobId}}
      <p><a href="#" ui-sref-"jobs({jobId: job.id})">{{job.title}} | {{job.company}}</a></p>
      <button ng-click="like($index)" ng-class="{like: job.like === 'true'}">Like</button>
      <button ng-click="dislike($index)" ng-class="dislike">Dislike</button>
      {{job}}
    </li>
  </div>
</div>
    <!-- <div ng-controller="apiCtrl">
      <p>IndeedAPI</p>
      <div ng-repeat="list in results">
        <p>{{ list.jobtitle }} | {{ list.company }}</p>
      </div>
    </div>
 -->  <!-- TODO: turn each posting into a link  -->
