  <div ng-controller="loginCtrl" class="main-content">
  <h2>Sign up please! </h2>
    <form name="loginForm">
      <label>Name *</label><br>
      <input type="text" class="input-text" required placeholder="Your fullname" ng-model="user.name"><br>
      <label>Email *</label><br>
      <input type="email" class="input-text"  required placeholder="Enter email" ng-model="user.email"><br>
      <label>Password *</label><br>
      <input type="password" class="input-text" required placeholder="Password" ng-model="user.password"><br>
      <button type="submit" class="input-text button sign-up-button" ng-click="save(user, loginForm)" value="Signup">Sign up</button>
    </form>
    <h2>User</h2>
    {{user}}
    <pre>user = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
    <div>loginForm is {{loginForm.$valid}}</div>
  </div>
